html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
}

.title {
    font-family: Inter;
    text-align: center;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    place-items: center;
    font-family: Inter;
}

.album-container img {
    width: 220px;
}

.albumTitle {
    font-size: 1rem;
    text-align: center;
}





